Repository airshipit/maas: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

.zuul.yaml:

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- project:
    check:
      jobs:
        - airship-maas-lint-ws
        - airship-maas-lint-chart
        - airship-maas-docker-build-gate
    gate:
      jobs:
        - airship-maas-lint-ws
        - airship-maas-lint-chart
        - airship-maas-docker-build-gate
    post:
      jobs:
        - airship-maas-docker-publish

- nodeset:
    name: airship-maas-single-node
    nodes:
      - name: primary
        label: ubuntu-xenial

- job:
    name: airship-maas-lint-ws
    description: |
      Lints all files for trailing whitespace
    run: tools/gate/playbooks/zuul-linter.yaml
    timeout: 300
    nodeset: airship-maas-single-node

- job:
    name: airship-maas-lint-chart
    files:
      - ^charts/.*$
    description: |
      Lints Helm charts for validity
    run: tools/gate/playbooks/helm-linter.yaml
    timeout: 600
    nodeset: airship-maas-single-node

- job:
    name: airship-maas-docker-build-gate
    timeout: 1800
    run: tools/gate/playbooks/docker-image-build.yaml
    nodeset: airship-maas-single-node
    files:
      - '^images/.*'
    vars:
      publish: false
      tags:
        dynamic:
          patch_set: true

- job:
    name: airship-maas-docker-publish
    timeout: 1800
    run: tools/gate/playbooks/docker-image-build.yaml
    nodeset: airship-maas-single-node
    secrets:
      - airship_maas_quay_creds
    irrelevant-files:
      - '^images/.*'
    vars:
      publish: true
      tags:
        dynamic:
          branch: true
          commit: true
        static:
          - latest

- secret:
    name: airship_maas_quay_creds
    data:
      username: !encrypted/pkcs1-oaep
        - C3OlPbC72jwWy2KO224B+JoIThvsAhEvNG2USHtIISHWQPTod3fA2rDut28dopMoBiit4
          qRK3V0e93LsjfiVLYgdxnlkNcKH6iNk6YT6pkCGx5veVHUxJcfl+x0EAFwK0sEMHjLxvN
          3nahnLQG67WUDGdz0lMFnDG8pLU/tOzD9E5rNnbZOYjyVdmWXWVHIQGkwnK7fTkLbBCfu
          KQR2DfmbqNcXMAQpsAM7himvYcRO/Fh18bO0ebsNscV2C31KhZgBnmtnaYu7wJvTh2W9+
          rCFpKzBwJlnD97KfMv4ZlWwSH9QvwUC2UO/vcED9yZDwVFHU5okwI0QSwLyoGRs7T+Flc
          Rwk8xGghJDgcxRjH7HHS3pDHaB1kZucEN+g10o2IRFLUcS4w2zYPrXfOZDWKymsvdkUW8
          4XRuqSAuDdTHcjDk7aKpnySb0hDcVf5zNNFA7GqLajkBmaH59fKx1MjNocO3KmpHQ6yb+
          TTIn4aK8xhT/S/Azy0khTTN/w/4A6JZ+eRVtDsnP0X4yJvWiYUP80OKk7/Vr3EyV3s1WN
          n7YRW8veKEqi9CqzfZtW1MeQ6Bu8VrIduc/XST6JyYd8AyjmliiSs7YNCbd/Sz+pjl4I8
          rQW7vThr7W9CQCEi+UMoUebArOM9d+LBGtlqZBROI1P1QaSPcxPm3f1/Rl7aqM=
      password: !encrypted/pkcs1-oaep
        - Aun3qSkZsZT+d7Zk7sLR2QoVEhK95OEJjJ6TdPMeSfuhAyIwQ0b9sBUk1BAsrOjlIdQO1
          AOYhSpunpaita2KP1nt67GQwuQZkcZIE3UMQAUjIkU1fyTGwa3ZYR2Z4/fTzuslzRzOcL
          9lvTaULTeXEoxs413shUK1W6EpMb5GMVUW4DvKwy4ei9ZBNVO+540p741+GgDZEH6UDKc
          KGtYbsGDRudAAded82NsaODvoIOiXq9oQxiBDepv6Hyah8gqMuKBpLIQIsBRPeANtEBLN
          M5S9SG4PygAveOa2pQya+HfPXy03QCDJ1DKhq7JRQGXfegSFi3RA52EXOpMXwrubM8mB/
          LItJngcTvvKAGhipd7bTkMSSzXEOrnBBFLz6uol2pJNQtAHf//9Q1sI1PiV4Uzq91k4Yb
          rFw9aOWKzlR3p6uxI/h+lOBdJhweb3IDkSMTbaWwNXn0RHVwBQJ8lwuXmyLNcl1VA7JFL
          6sHAsxpOY+KFOLee2SfH/5uoNZW9ElxAjdGxzvKo7a+xnwgctzadSzVSoXRODf3RTFqbY
          AQfFdvKSs5s1ytan8O2orSm0OtAMSjlL45WO/WXOk8xh9NcHh3XnOdLHm++A0x5vRDx9S
          XOd766NTksnmoHHWP27YvRXxxFA+EBjgLq+xCiKS2QlYtOp88aBO+0hVHDTcLE=

[Fix] Fix empty bootaction tar files
  charts/maas/templates/etc/_curtin_userdata.tpl
  tools/helm_tk.sh
Due: airship-maas-lint-chart, airship-maas-docker-publish

(fix) Fix crashloop on chown
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/templates/deployment-rack.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Add ARG to MAAS SimpleStream Dockerfile
  Makefile
  images/sstream-cache/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

MaaS: Slightly clean systemd and enable Stdout logging for journald
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/templates/deployment-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  images/maas-rack-controller/Dockerfile
  images/maas-rack-controller/scripts/journalctl-to-tty.service
  images/maas-region-controller/Dockerfile
  images/maas-region-controller/journalctl-to-tty.service
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

Image: update image makefile to use host-networking
  Makefile
Due: airship-maas-docker-publish

Unifying proxy variables for docker build
  Makefile
Due: airship-maas-docker-publish

(fix) Disable libvirt service
  images/maas-rack-controller/Dockerfile
Due: airship-maas-docker-build-gate

(fix) Make rackd stateful
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/templates/service-rack.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/values.yaml
  images/maas-rack-controller/2.3_nic_filter.patch
  images/maas-rack-controller/Dockerfile
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

Upgrade the version of kubernetes-entrypoint for UCP helm charts
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Add test pods labels.
  charts/maas/templates/tests/test-maas-init.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Update Dockerfile to allow override of FROM variable
  Makefile
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
  images/sstream-cache/Dockerfile
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/files/docker-systemd.conf
  tools/gate/playbooks/vars.yaml
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Helm: Move to use current target version of helm for airship
  tools/helm_install.sh
Due: airship-maas-docker-publish

Add .gitignore to repo
  .gitignore
Due: airship-maas-docker-publish

Charts: remove hardcoded htk reference from make script
  tools/helm_tk.sh
Due: airship-maas-docker-publish

Chart: Remove duplicate initcontainer reference
  charts/maas/templates/statefulset-rack.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Chart: Modernise chart
  charts/maas/templates/job-bootstrap-admin-user.yaml
  charts/maas/templates/job-db-init.yaml
  charts/maas/templates/job-db-sync.yaml
  charts/maas/templates/job-export-api-key.yaml
  charts/maas/templates/job-import.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
  tools/helm_tk.sh
Due: airship-maas-lint-chart, airship-maas-docker-publish

Add release uuid to pods and rc objects (maas)
  charts/maas/templates/job-bootstrap-admin-user.yaml
  charts/maas/templates/job-db-init.yaml
  charts/maas/templates/job-db-sync.yaml
  charts/maas/templates/job-export-api-key.yaml
  charts/maas/templates/job-import.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/templates/tests/test-maas-init.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Add file package to sstream-cache image build
  images/sstream-cache/Dockerfile
Due: airship-maas-docker-build-gate

Fix: various documentation and URL fixes
  charts/maas/values.yaml
  images/README.md
  images/maas-rack-controller/README.md
  images/maas-region-controller/README.md
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

[470918] Update MaaS to 2.3.5
  images/maas-rack-controller/2.3_nic_filter.patch
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/2.3_nat_fix.patch
  images/maas-region-controller/2.3_proxy_port.patch
  images/maas-region-controller/2.3_recursion_fix.patch
  images/maas-region-controller/2.3_route.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Add support for specific kernel package selection by tagging a node with a tag of 'kernel_package' with a value of the explicit package name which will drive the curtin installer.
  images/maas-region-controller/2.3_kernel_package.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Fix: git commit id labels on images
  Makefile
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/Dockerfile
  images/sstream-cache/Dockerfile
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

Bugfix Bios Grub Partition Behavior
  images/maas-region-controller/2.3_bios_grub_partition.patch
  images/maas-region-controller/2.3_bios_grub_preseed.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Set MAAS internal proxy to 31800
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/job-import.yaml
  charts/maas/templates/service-region.yaml
  charts/maas/values.yaml
  images/maas-region-controller/2.3_proxy_port.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

bugfix: Ensure kernel_package param is not required
  images/maas-region-controller/2.3_kernel_package.patch
Due: airship-maas-docker-build-gate

(fix) Missing quotes for env variable
  charts/maas/templates/job-import.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Support YAML sequence for DNS and NTP servers
  charts/maas/templates/job-import.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

MAAS support for pod mobility
  charts/maas/templates/bin/_maas-ingress-errors.sh.tpl
  charts/maas/templates/bin/_maas-ingress.sh.tpl
  charts/maas/templates/bin/_maas-vip-configure.sh.tpl
  charts/maas/templates/configmap-bin.yaml
  charts/maas/templates/configmap-ingress.yaml
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/templates/etc/_curtin_userdata.tpl
  charts/maas/templates/etc/_regiond.conf.tpl
  charts/maas/templates/ingress-region.yaml
  charts/maas/templates/job-import.yaml
  charts/maas/templates/secret-admin-user.yaml
  charts/maas/templates/service-ingress-error.yaml
  charts/maas/templates/service-rack.yaml
  charts/maas/templates/service-region.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/templates/tests/test-maas-init.yaml
  charts/maas/values.yaml
  tools/helm_install.sh
  tools/helm_tk.sh
Due: airship-maas-lint-chart, airship-maas-docker-publish

Fix: adding back the possibility to add arbitrary labels
  Makefile
Due: airship-maas-docker-publish

Support MAAS HA
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
  charts/maas/templates/configmap-ingress.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/templates/service-ingress-error.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/values.yaml
  images/maas-rack-controller/Dockerfile
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

[WIP] [fix] Patch issues in upstream MAAS
  images/maas-rack-controller/2.3_mac_address.patch
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/2.3_maas_enlist.patch
  images/maas-region-controller/2.3_mac_address.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

(fix) Fix import job race condition
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/configmap-etc.yaml
  charts/maas/templates/etc/_register-rack-controller.service.tpl
  images/maas-rack-controller/Dockerfile
  images/maas-rack-controller/scripts/register-rack-controller.sh
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

Apparmor profile for MaaS
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
  tools/helm_tk.sh
Due: airship-maas-lint-chart, airship-maas-docker-publish

(fix) Fix static ports in MAAS ingress
  charts/maas/templates/bin/_maas-vip-configure.sh.tpl
  charts/maas/templates/configmap-etc.yaml
  charts/maas/templates/configmap-ingress.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/templates/etc/_curtin_userdata.tpl
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/values.yaml
  images/maas-rack-controller/2.3_hostheader.patch
  images/maas-rack-controller/Dockerfile
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

Support tuning of the ingress fallback error pages
  charts/maas/templates/bin/_maas-ingress.sh.tpl
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Forward DNS via ingress
  charts/maas/templates/bin/_maas-ingress.sh.tpl
  charts/maas/templates/configmap-ingress.yaml
  charts/maas/templates/service-region.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

(fix) Make DNS port in region svc UDP
  charts/maas/templates/service-region.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Open MAAS proxy ACL
  images/maas-region-controller/2.3_proxy_acl.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

(fix) Give systemd service access to env
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
  images/maas-rack-controller/Dockerfile
  images/maas-rack-controller/scripts/register-rack-controller.service
Due: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish
