Repository airshipit/maas: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

airship-maas-docker-build-gate:
  timeout: 3600
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-maas-single-node-jammy
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-maas-lint-yaml:
  voting: true
  timeout: 900
  run: tools/gate/playbooks/lint-yaml.yaml
  nodeset: airship-maas-single-node

airship-maas-docker-publish:
  timeout: 3600
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-maas-single-node-jammy
  secrets:
  - airship_maas_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

airship-maas-deploy-kubeadm:
  description: Deploys all UC's and Executes functional tests
  nodeset: treasuremap-airskiff-1node-ubuntu_jammy
  roles:
  - zuul: airship/kubernetes-entrypoint
  - zuul: openstack/openstack-helm
  - zuul: zuul/zuul-jobs
  required-projects:
  - name: openstack/openstack-helm
  ...

Rackd post-start actions
  charts/maas/templates/bin/_rack-dhcp-setup-orphaned-racks-cleanup.sh.tpl
  charts/maas/templates/configmap-bin.yaml
  charts/maas/templates/statefulset-rack.yaml
Due: airship-maas-docker-publish, airship-maas-deploy-kubeadm

Improved MAAS helm test reliability and logging
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/bin/_maas-test.sh.tpl
  charts/maas/templates/job-import.yaml
Due: airship-maas-docker-publish, airship-maas-deploy-kubeadm

DHCP and rack scripts update
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/bin/_rack-dhcp-setup-orphaned-racks-cleanup.sh.tpl
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

DHCP setup logic update
  charts/maas/templates/bin/_rack-dhcp-setup-orphaned-racks-cleanup.sh.tpl
Due: airship-maas-docker-publish, airship-maas-deploy-kubeadm

Improve import-boot-resources.sh script
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
Due: airship-maas-docker-publish, airship-maas-deploy-kubeadm

New encrypted credentials for quay.io and github
  .zuul.yaml
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Updates for maas-import-resources job
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/etc/_regiond.conf.tpl
  charts/maas/templates/job-import.yaml
  charts/maas/templates/service-region.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Fix MAAS rack httpproxy
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Rack nginx config update
  charts/maas/Chart.yaml
  charts/maas/templates/etc/_nginx.conf.tpl
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Chrony configuration files update
  images/maas-rack-controller-noble/Dockerfile
  images/maas-rack-controller-noble/scripts/override.chrony.conf
  images/maas-region-controller-noble/Dockerfile
  images/maas-region-controller-noble/override.chrony.conf
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-deploy-kubeadm

Add resilent maas_cli calls to import resources
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  images/maas-rack-controller-noble/Dockerfile
  images/maas-region-controller-noble/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Add maas refresh command after maas login
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/bin/_maas-test.sh.tpl
  charts/maas/templates/bin/_rack-dhcp-setup-orphaned-racks-cleanup.sh.tpl
Due: airship-maas-docker-publish, airship-maas-deploy-kubeadm

Move flag file and log out of /tmp
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
  charts/maas/templates/statefulset-rack.yaml
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

add extraObjects to prepare for gateway api
  charts/maas/templates/extra-manifests.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

MAAS update to 3.6.4 on Noble
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/bin/_maas-test.sh.tpl
  charts/maas/values.yaml
  images/maas-rack-controller-noble/Dockerfile
  images/maas-region-controller-noble/3.6_temporal_workflow_policy.patch
  images/maas-region-controller-noble/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Upgrade MAAS to 3.6.4/Noble and improve boot resource import
  .zuul.yaml
  Makefile
  charts/maas/Chart.yaml
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
  charts/maas/templates/bin/_region-rediness.sh.tpl
  charts/maas/templates/configmap-bin.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
  images/maas-rack-controller-focal/Dockerfile
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-rack-controller-noble/Dockerfile
  images/maas-region-controller-focal/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  images/maas-region-controller-noble/Dockerfile
  images/sstream-cache-focal/Dockerfile
  images/sstream-cache-jammy/Dockerfile
  images/sstream-cache-noble/Dockerfile
  tools/helm_install.sh
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Fix docker-publish job missing quay secret binding
  .zuul.yaml
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

zuul: fix quay secret not reaching parent job playbook
  .zuul.yaml
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

fix(helm-test): use internal endpoint to avoid ingress rewrite
  charts/maas/templates/bin/_maas-test.sh.tpl
  charts/maas/templates/tests/test-maas-init.yaml
Due: airship-maas-docker-publish, airship-maas-deploy-kubeadm

Upgrade Helm to v4.2.0
  .zuul.yaml
  tools/helm_install.sh
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

fix(rsyslog): fix maas-syslog failures in Noble containers
  .zuul.yaml
  charts/maas/templates/bin/_db-sync.sh.tpl
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
  images/maas-rack-controller-noble/Dockerfile
  images/maas-rack-controller-noble/scripts/override.maas-syslog.conf
  images/maas-region-controller-noble/Dockerfile
  images/maas-region-controller-noble/override.maas-syslog.conf
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Update maas pinned versions
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-rack-controller-noble/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  images/maas-region-controller-noble/3.6_temporal_workflow_policy.patch
  images/maas-region-controller-noble/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-deploy-kubeadm

Add direct httproute support to preserve disable_gui function
  charts/maas/templates/httproute-region.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

[noble] Updates for Noble
  images/maas-rack-controller-jammy/Dockerfile
  images/maas-region-controller-jammy/Dockerfile
  images/maas-region-controller-noble/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-deploy-kubeadm

[chart] Add maas-rackd.service watchdog
  charts/maas/templates/bin/_maas-rackd-watchdog.sh.tpl
  charts/maas/templates/bin/_start.sh.tpl
  charts/maas/templates/configmap-bin.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

[images] Bump MAAS noble images to 3.6.6
  .zuul.yaml
  images/maas-rack-controller-noble/Dockerfile
  images/maas-region-controller-noble/Dockerfile
  tools/helm_install.sh
Due: airship-maas-docker-build-gate, airship-maas-lint-yaml, airship-maas-docker-publish, airship-maas-deploy-kubeadm

Path conditions:
  airship-maas-docker-build-gate: any of: ^images/.*
  airship-maas-lint-yaml: unless all of: ^charts/maas/templates/.*
  airship-maas-docker-publish: unless all of: ^images/.*
  airship-maas-deploy-kubeadm: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^site/seaworthy/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
