Repository airshipit/maas: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-maas-lint-chart, airship-maas-docker-build-gate, airship-maas-docker-publish

airship-maas-lint-chart:
  description: 'Lints Helm charts for validity
  
    '
  run: tools/gate/playbooks/helm-linter.yaml
  timeout: 600
  nodeset: airship-maas-single-node

airship-maas-docker-build-gate:
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-maas-single-node
  vars:
    publish: false
    tags:
      dynamic:
        patch_set: true

airship-maas-docker-publish:
  timeout: 1800
  run: tools/gate/playbooks/docker-image-build.yaml
  nodeset: airship-maas-single-node
  secrets:
  - airship_maas_quay_creds
  vars:
    publish: true
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

(fix) disable dhcp when detaching rack
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

(chart) rackd pod readiness check
  charts/maas/templates/statefulset-rack.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

(security) Optionally only allow MAAS api access
  charts/maas/templates/ingress-region.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Support for password rotation
  charts/maas/templates/bin/_bootstrap-admin-user.sh.tpl
  charts/maas/templates/bin/_db-init.sh.tpl
  charts/maas/templates/configmap-bin.yaml
  charts/maas/templates/job-db-init.yaml
  charts/maas/templates/secret-db.yaml
  charts/maas/templates/statefulset-region.yaml
  tools/helm_tk.sh
Due: airship-maas-lint-chart, airship-maas-docker-publish

Run maas-rack and maas-region containers as non-privileged
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Updating Docker Gate use of zuul.newrev
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-publish

[FIX] - Fixed maas-rack reschedule issue
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

tools: Update Helm to v2.13.1
  tools/helm_install.sh
  tools/helm_tk.sh
Due: airship-maas-docker-publish

CI: Add chart build job for latest Helm toolkit
  .zuul.yaml
  tools/gate/playbooks/helm-linter.yaml
Due: airship-maas-docker-publish

Additional Rules for optional MAAS api only
  charts/maas/templates/ingress-region.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

(zuul) Fix image publish job
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-maas-docker-publish

Add explicit rackd image sync
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

OpenDev Migration Patch
  .gitreview
Due: airship-maas-docker-publish

Support for MAAS URL overrides
  charts/maas/templates/etc/_curtin_userdata.tpl
  charts/maas/templates/etc/_regiond.conf.tpl
  charts/maas/templates/job-import.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Improve MAAS rack registration robustness
  charts/maas/templates/bin/_register-rack-controller.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

Maas: Add pod/container security context
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Move to helm 2.14.0
  tools/helm_install.sh
Due: airship-maas-docker-publish

Addressng chsh fail due to /etc/passwd permissions
  charts/maas/templates/bin/_start.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

Add Zuul job for mirroring to GitHub
  .zuul.yaml
Due: airship-maas-docker-publish

Encrypt git mirroring ssh_key to specific project
  .zuul.yaml
Due: airship-maas-docker-publish

[Fix] Remove the check for rack sync images
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

[Fix] Add retry to check_then_set
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

Add release uuid annotation to POD spec
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

(fix) Check sync of only active rack controllers
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

Provide dependency chain on maas-ingress
  charts/maas/templates/service-ingress-headless.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

(fix) Omit maas-ingress proxy port
  charts/maas/templates/configmap-ingress.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

syslog listener for physical nodes
  charts/maas/templates/bin/_start-syslog.sh.tpl
  charts/maas/templates/configmap-bin.yaml
  charts/maas/templates/configmap-etc.yaml
  charts/maas/templates/configmap-ingress.yaml
  charts/maas/templates/etc/_logrotate.conf.tpl
  charts/maas/templates/etc/_logrotate.cron.tpl
  charts/maas/templates/etc/_rsyslog.conf.tpl
  charts/maas/templates/service-region.yaml
  charts/maas/templates/service-syslog.yaml
  charts/maas/templates/statefulset-maas-syslog.yaml
  charts/maas/templates/statefulset-rack.yaml
  charts/maas/templates/statefulset-region.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Removed hardcoded cluster suffix
  charts/maas/templates/bin/_export-api-key.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

maas-ingress and maas-ingress-errors pods with non-root user
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Add retries to MaaS BMC user configuration
  images/maas-region-controller/2.3_configure_ipmi_user.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Allow to configure service network policy
  charts/maas/templates/network_policy.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

[fix] Run maas-ingress as root
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

(tests) Add NodeSelector to Helm test
  charts/maas/templates/tests/test-maas-init.yaml
  charts/maas/values.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

[fix] Deploy maas-ingress-errors
  charts/maas/templates/deployment-ingress-errors.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

(cache) Configurable Ubuntu release
  Makefile
  images/sstream-cache/Dockerfile
Due: airship-maas-docker-build-gate, airship-maas-docker-publish

(chart) Fix import issue
  charts/maas/templates/bin/_import-boot-resources.sh.tpl
Due: airship-maas-lint-chart, airship-maas-docker-publish

trivial: maas-region container patches file twice
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

fix: failed to render preseed with kernel flags (not k=v)
  images/maas-region-controller/2.3_kernel_package.patch
Due: airship-maas-docker-build-gate

[Ingress] Change apiVersion for Ingress and Deployment Resource
  charts/maas/templates/deployment-ingress-errors.yaml
  charts/maas/templates/deployment-maas-ingress.yaml
  charts/maas/templates/ingress-region.yaml
Due: airship-maas-lint-chart, airship-maas-docker-publish

Patch Twisted to secure response headers
  images/maas-rack-controller/2.3_secure_headers.patch
  images/maas-rack-controller/Dockerfile
  images/maas-region-controller/2.3_secure_headers.patch
  images/maas-region-controller/Dockerfile
Due: airship-maas-docker-build-gate

Path conditions:
  airship-maas-lint-chart: any of: ^charts/.*$
  airship-maas-docker-build-gate: any of: ^images/.*
  airship-maas-docker-publish: unless all of: ^images/.*
